.search-box{
	float: right;
}

table.tabel-barang{
	border-collapse:collapse;
    width: 100%;
    color: #858796;
	margin-top: 10px;
}

table.tabel-barang tr:first-child{
	background-color: #636363;
	color: #E0E0E0;
}

table.tabel-barang tr th,
table.tabel-barang tr td{
	border: 1px solid #e3e6f0;
}

table.tabel-barang tr th:last-child{
	width: 150px;
}


table.add-barang tr td{
	padding: 6px;
}
